html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  position: relative;
  z-index: 0;
}

#container {
  float: right;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 2;
}

#lbBackground {
  top: 0px;
  height: 800px;
  width: 100%;
  float: right;
  opacity: 0.6;
  position: absolute;
  display: none;
  background-color: black;
}

#lb {
  top: 12.5%;
  left: 7.5%;
  height: 75%;
  width: 85%;
  position: absolute;
  display: none;
  background-color: black;
}

#lbL3 {
  padding-top: 10px;
  left: 0%;
  width: 33%;
  height: 100%;
  background-color: #242426;
  display: inline-block;
  vertical-align: top;
}

#lbM3 {
  padding-top: 10px;
  left: 33%;
  width: 33%;
  height: 100%;
  background-color: #242426;
  display: inline-block;
  vertical-align: top;
}

#lbR3 {
  padding-top: 10px;
  left: 66%;
  width: 33%;
  height: 100%;
  background-color: #242426;
  display: inline-block;
  vertical-align: top;
}

.lbList {
  color: white;
  font-size: 18px;
  list-style-type: none;

}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: #2d2d30;
    font-size: 1.25em !important;
    letter-spacing: 0.2em;
    opacity:0.9;
    padding: 0;
}

#banner {
  z-index: 1000000;
  position: absolute;
  padding: 1px;
  right: 1%;
  top: .5%;
}

#search {
  position: absolute;
  top: 8%;
  right: 2%;
  z-index:1000000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px;
}

#wrapper {
    
    padding-left: 0;
    
    -webkit-transition: all 0.5s ease;
    
    -moz-transition: all 0.5s ease;
    
    -o-transition: all 0.5s ease;
    
    transition: all 0.5s ease;
    
}



#wrapper.toggled {
    
    padding-left: 250px;
    
}



#sidebar-wrapper {
    
    z-index: 1000;
    
    position: fixed;
    
    left: 250px;
    
    width: 0;
    
    height: 100%;
    opacity: 0.9;
    
    margin-left: -250px;
    
    overflow-y: auto;
    
    background: #000;
    
    -webkit-transition: all 0.5s ease;
    
    -moz-transition: all 0.5s ease;
    
    -o-transition: all 0.5s ease;
    
    transition: all 0.5s ease;
    
}



#wrapper.toggled #sidebar-wrapper {
    
    width: 250px;
    
}



#page-content-wrapper {
    
    width: 100%;
    
    position: absolute;
    
    padding: 15px;
    
}



#wrapper.toggled #page-content-wrapper {
    
    position: absolute;
    
    margin-right: -250px;
    
}



/* Sidebar Styles */



.sidebar-nav {
    
    position: absolute;
    
    top: 0;
    
    opacity: 0.4;
    filter: alpha(opacity=40);
    
    width: 250px;
    
    margin: 0;
    
    padding: 0;
    
    list-style: none;

    
}



.sidebar-nav li {
    
    display: inline-block;
    text-align:leftwards;
    text-indent: 0px;
    
    line-height: 40px;
    
}



.sidebar-nav li a {
    
    display: block;
    
    text-decoration: none;
    
    color: #ffffff;
    
}



.sidebar-nav li a:hover {
    
    text-decoration: none;
    
    color: #fff;
    
    background: rgba(255,255,255,0.2);
    
}



.sidebar-nav li a:active,

.sidebar-nav li a:focus {
    
    text-decoration: none;
    
}



.sidebar-nav > .sidebar-brand {
    
    height: 65px;
    
    font-size: 18px;
    
    line-height: 60px;
    
}



.sidebar-nav > .sidebar-brand a {
    
    color: #ffffff;
    
}



.sidebar-nav > .sidebar-brand a:hover {
    
    color: #fff;
    
    background: none;
    
}



@media(min-width:768px) {
    
    #wrapper {
        
        padding-left: 250px;
        
    }
    
    
    
    #wrapper.toggled {
        
        padding-left: 0;
        
    }
    
    
    
    #sidebar-wrapper {
        
        width: 250px;
        
    }
    
    
    
    #wrapper.toggled #sidebar-wrapper {
        
        width: 0;
        
    }
    
    
    
    #page-content-wrapper {
        
        padding: 20px;
        
        position: relative;
        
    }
    
    
    
    #wrapper.toggled #page-content-wrapper {
        
        position: relative;
        
        margin-right: 0;
        
    }
    
}











